p{
    align-content:center;
    text-align:center;
    padding:20px;
}

div#map svg g.axis text{
    font-size: 0.9em;
    font-family: Verdana;
}

div#linechart svg text{
    font-size: 0.9em;
    font-family: Verdana;
}

h1 {
    font-family:  Verdana;
    font-size: 1.5em;
    text-align: center;
}

#map {
    /*following 3 lines for block centering*/
    text-align: center;
    overflow:hidden; 
}

.no-stroke {
    stroke:none;
}

.dc-chart g.activations path {
    stroke: #fff !important;
}

.reset-map :active{
    outline:none;
    color:black;
}

.dc-table-head, .dc-table-label {
    text-align:center;
}