body{
    width:100%;
}

p{
    font-family: 'Oxygen', sans-serif;
    align-content:center;
    text-align:center;
    padding:10px;
}

h2 {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.5em;
    text-align: center;
}

/* Disable these awful hyperlink colours*/

a, a:link, a:visited, a:active {
    color: #88CFE9;
    text-decoration: none; 
    outline: 0;
}

a:hover {
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    color: #88CFE9;
    text-decoration: none;
}

a:focus {
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    color: #e6f0ff;
    text-decoration: none;
}

/* Menu stuff */

#menu {
    top: 0;
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    padding-bottom: 2em;
}

.menu-item {
    text-transform: uppercase;
    text-align: center;
    padding: 10px 25px 25px 25px;
    min-width: 8em;
    font-size: 120%;
    font-weight: 800;
    border-top: 10px black solid;
    margin-left: 10px;
    margin-right: 10px;
    color:black;
}

#menu a:hover .menu-item, #menu a:focus .menu-item {
    border-top: 10px #88CFE9 solid;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    color: #88CFE9;
    text-decoration: none;
}

.hide-overflow {
    overflow:auto;
    height: 610px;
    border: 1px #ddd solid;
}

#map {
    /*following 3 lines for block centering*/
    text-align: center;
    overflow:hidden; 
    padding-right:15px;
}

#reset-line{
    padding-top:0;
    text-align:center;
}

#download-data{
    color:white;
}

#table{
    font-family: 'Oxygen', sans-serif;
    display:block;
    max-height:30em;
    overflow:auto;
    padding-bottom:1em;
    border-top: 1px solid #ddd;
}

.table tbody tr td{
    height:100%;
    height:4em;
}
