body{
    font-family: 'Oxygen', sans-serif;
}

p{
    align-content:center;
    text-align:center;
    padding:20px;
}

h1 {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.5em;
    text-align: center;
}

#map {
    /*following 3 lines for block centering*/
    text-align: center;
    overflow:hidden; 
}

#table{
    font-family: 'Lato', sans-serif;
}